* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  padding: 2rem 4rem;
}

#countries {
  background-color: rgb(204, 204, 204);
  display: grid;
  padding: 2rem;
  gap: 2rem 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.country {
  display: grid;
  justify-content: center;
  text-align: center;
}

.name {
  margin-bottom: 1rem;
}

.flag {
  max-width: 100%;
}

@media (max-width: 1100px) {
  #countries {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  #countries {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  #countries {
    grid-template-columns: 1fr;
  }
}
